{% extends 'base.html.twig' %}

{% block title %}Connexion — {{parent()}}
{% endblock %}

{% block body %}
	{{ parent()}}
	<style>
		body {
			background-image: url({{ asset("build/images/backgrounds/background-blue-one.png") }});
		}
	</style>

	{% if app.user %}
		<p>Welcome
			{{ app.user.username }}!</p>
		<p>
			<a href="{{path('app_logout')}}">Logout?</a>
		</p>
	{% else %}
		{% include 'login/_form.html.twig' %}
	{% endif %}
{% endblock %}
