{% extends 'base.html.twig' %}

{% block title %}Mon Tamagosaure{% endblock %}

{# /*block de stylesheets */ #}

{# /*block de stylesheets */ #}
{% block stylesheets %}
        {{ parent() }}
        <style>
            body {
                background-image: url({{ asset("build/images/background-blue-one.png") }});
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;

                /*autres priority de l'image de fond*/
                }
        </style>
{% endblock %}

{% block body %}

<body class="container">
    <div>
        <h1 class="display-2 text-success h1 text-center font-poppins">Mon premier Tamagosaurus</h1>
        <div class="text-primary display-1 text-center font-weight-bold">{{ tamagosauru.name }}</div>

        <img class="rounded mx-auto d-block" style="width: 20%;" src="{{ asset('build/images/diplosaure-aquaticus.png') }}" alt="Un mignon Tamagosaurus !"><br>

        <p class="text-success">Faim : <span id="dino-hunger"></span></p>
        <h2 class="text-success h2">Donnez lui à manger<h2>
        <p class="lead text-success">Nourrissez le chaque jour, vous disposez diverses aliments.</p>

        <div id="options-hunger" class="element-hidden"> {# Display/hide feed buttons #}
            {% include 'layout/_buttons-hunger.html.twig' %}
        </div>

        <div id="options-clothes" class="element-hidden">
            <button class="btn btn-primary">test</button>
        </div>

        <div id="options-locations" class="element-hidden">
            <a role="button" href="{{ path('app_stroll_go', { location: 0 }) }}" class="btn btn-primary">Parc</a>
            <button class="btn btn-primary">Plage</button>
        </div>
        {% include 'layout/_buttons-option.html.twig' %}
    </div>

<script src="/build/js/api/request.js"></script>
<script src="/build/js/tamagosaurus.js"></script>
</body>

{% endblock %}