{% extends 'base.html.twig' %}

{% block title %}Promenade {{destination.description}} {% endblock %}

{# /*block de stylesheets */ #}

{# /*block de stylesheets */ #}
{% block stylesheets %}
        {{ parent() }}
        <style>
            body {
                background-image: url("{{ asset( destination.image ) }}");
                background-size: cover;
                background-repeat: no-repeat;
          
                /*autres priority de l'image de fond*/
                }
        </style>
{% endblock %}

{% block body %}

<p>Bienvenue {{destination.description}} !</p>

<p><a role="button" class="btn btn-primary" href="{{ path('app_default') }}">Retour au bercail</a></p>

{% endblock %}