{% extends 'base.html.twig' %}

{% block title %}Mon Tamagosaure{% endblock %}

{# /*block de stylesheets */ #}

{# /*block de stylesheets */ #}
{% block stylesheets %}
        {{ parent() }}
        <style>
            body {
                background-image: url({{ asset("build/images/backgrounds/background-blue-one.png") }});
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;

                /*autres priority de l'image de fond*/
                }
        </style>
{% endblock %}

{% block body %}

    <div>
        <div
            id="tamagosaurus"
            class="text-primary text-center font-weight-bold"
            data-tamagosaurus-id="{{tamagosauru.id}}"
        >
            <h3>{{ tamagosauru.name }}</h3>
        </div>

        {% include 'tamagosaurus/_dino.html.twig' %}        

        <p class="text-success">Faim : <span id="dino-hunger"></span></p>

        <div id="options-submenu" class="element-visible text-center mb-2"> <!-- JS replaces visible with hidden, but there's no visible -->
            <button class="btn btn-primary btn-lg element-hidden">Fake</button>
        </div>

        <div id="options-hunger" class="text-center d-none mb-2"> {# Display/hide feed buttons #}
            {% include 'layout/buttons/_hunger-options.html.twig' %}
        </div>

        <div id="options-clothes" class="text-center d-none mb-2">
            <button class="btn btn-primary btn-lg rounded-pill">test</button>
        </div>

        <div id="options-locations" class="text-center d-none mb-2">
            {% for location in destinations %}
            <a
                role="button"
                href="{{ path('app_stroll_go', { destination: location.id }) }}"
                class="btn btn-primary btn-lg text-uppercase text-white rounded-pill"
            >
                {{ location.name }}
            </a>
            {% endfor %}        
        </div>

        {% include 'layout/buttons/_main-options.html.twig' %}
        
        {# <div id="dino-render" style="width: 60%;">
        </div> #}
    </div>

<script src="/build/js/api/request.js"></script>
<script src="/build/js/tamagosaurus.js"></script>

{% endblock %}